body {
 font-family: Helvetica;
 font-size: 1em;
}

button {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.game {
  margin: 0 auto;
  display: flex;
  width: 408px;
}

#game-menu {
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

#game-board {
  border: 1em solid black;
  flex-wrap: wrap;
}

.piece {
  font-size: 2.5em;  
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1px;
  width: 100px;
  height: 100px;
  text-align: center;
}

#blank {
  color: black;
  background-color: black;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}